/* ------------------cursor--------------------- */

*{cursor: none;}

.cursor{
    width: 2rem;
    height: 2rem;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;

    transition:  0.3s ease;
    transition-property: width, height;
    transform-origin: 100% 100%;
    z-index: 10;
}
.link_group{
    width: 3rem;
    height: 3rem;
    background-color: rgba(106, 106, 106, 0.6);
    border: none;
}
.hov_group{
    color: rgb(0, 203, 112) !important; 
}


/* ------------------------hover------------------- */
.clicker:hover{
    background-color: var(--light-color);
    border-radius: 20px;

    box-shadow: 0px 0px 20px;
}






/* -------------------------------------------------------------adapivity------------------------------------------------------------- */

@media(max-width: 1400px){
    

    .about-list-item__img{
        width: 200px;
        height: 200px;
    }
}

@media(max-width: 1200px){
    :root{
        --description: 7px;
        --padding-in-1: 30px;
    }

    .serv-txt{
        width: 30%;
    }

    .logo-img{
        width: 100px;
        height: 100px;
    }
}

@media(max-width: 1150px){
    .serv-txt{
        width: 20%;
    }
    .work-list__test{
        font-size: 36px;
    }
}



.contacts_tel{
    display: none;
}

@media(max-width: 1000px){
    .serv-txt{
        width: 30%;
    }
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }

    .left-menu{
        width: 20%;
    }
    .left-menu-fixed{
        width: 20%;
    }

    .information{
        width: 80%;
    }


     /* contacts_tel -------- */

    .contacts_tel{
        display: block;
        /* margin: 15px; */
    }
    .contacts_tel .contacts-right__social{
        text-align: center;
    }
    .contacts_tel .social-item{
        margin-top: 15px;
    }
}

@media(max-width: 980px){
    .serv-item{
        flex-direction: column;
    }
    .serv-txt{
        width: 100%;
        text-align: center;
        margin: 3px;
    }
    .do-left-heading{
        margin-bottom: 200px !important;
    }
}

@media(max-width: 950px){
    .about-list-item__img{
        width: 150px;
        height: 150px;
    }
}






/* top_menu--------------------------- */
.top-menu-fixed{
    display: none;
    padding: 20px;
    border: var(--light-color) 1px solid;
    border-top: none;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-menu-fixed .s_1{
    display: flex;
    flex-direction: column;
}
.top-menu-fixed .menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 0px;
}

@media(max-width: 750px){
    .top-menu-fixed{
        display: flex;
    }


    :root{
        --heading: 46px;
        --all-txt: 20px;
        --description: 12px;
    }

    .contacts__form-mainblock{
        display: flex;
        flex-direction: column;
    }
    .contacts__comment, .contacts__txt{
        width: 100%;
    }
    .contacts__txt{
        margin-top: 20px;
        padding-left: 20px;
    }
    .comment{
       height: 100px;
    }



    .left-menu-fixed{
        display: none;
    }
    .left-menu{
        width: 0;
    }
    .information{
        width: 100%;
    }
}
/* top_menu--------------------------- */




@media(max-width: 680px){
    :root{
        --heading: 40px;
    }
    .work-list__test{
        font-size: 30px;
    }
    .about-list{
        flex-direction: column;
    }
    .about-list-item{
        margin-top: 25px;
    }
    .about-list-item__img{
        width: 300px;
        height: 300px;
    }
    .about-list{
        align-items: center;
    }
    td{
        padding-right: 20px;
    }
   
}


@media(max-width: 560px){
    .serv-img{
        width: 400px;
        height: 200px;
    }
}
@media(max-width: 470px){
    .serv-img{
        width: 340px;
        height: 180px;
    }
    .about-list-item__img{
        width: 250px;
        height: 250px;
    }
    td{
        font-size: 15px;
    }
    .work-list__test{
        font-size: 20px;
    }
    td{
        padding-right: 10px;
    }
}

