/* fonts-------------------------------------------------------------------------- */
@font-face {
    font-family: "Azonix";
    src: url("../static/fonts/Azonix.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }
@font-face {
    font-family: "Montserat";
    src: url("../static/fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    }
@font-face {
    font-family: "Montserat";
    src: url("../static/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
    }


/* variables----------------------------------------------------------------------- */
:root{
    --light-color: #D4D4D4;
    --size-12: 12px;
    --size-14: 14px;
    --size-18: 18px;
    --size-20: 20px;
    --size-24: 24px;
    --size-64: 64px;

    --padding-75: 75px;
    --padding-60: 60px;
    --padding-10: 5px;
}

/* GENERAL-------------------------------------------------------------------------- */
*{
    box-sizing: border-box;

    font-family: "Montserat";
    font-weight: 100;
    color: var(--light-color);
    font-size: var(--size-18);

    padding: 0;
    margin: 0;
    /* list-style: none; */
}
a{text-decoration: none;}

.display {
    background-image: url('../static/black-background.gif');
    }

.container{
    max-width: 1920px;
    margin: auto;

    display: flex;
}



/* LEFT-MENU--------------------------- */
.left-menu{
    width: 15%;
}
.left-menu-fixed{
    width: 15%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;

    text-transform: uppercase;

    position: fixed;
}


.logo{
    margin-bottom: 40px;
    width: 10vw;
}
.logo-img{
    width: 100%;
}


.menu{
    margin-bottom: 40px;
    list-style: none;
}
.menu-item{
    margin-bottom: 15px;
}


.clicker{
    width: 75px;
    height: 75px;
    background-color: var(--light-color);
    border-radius: 20px;

    box-shadow: 0px 0px 20px var(--light-color);
}
.clicker-icon{
    width: 51px;
    height: 51px;
    background-image: url('../img/moon.png');
    transform: translateX(25%) translateY(21%);
}





/* INFORMATION-------------------------- */
.information{
    width: 85%;
}
.left{
    width: 82%;
    border-bottom: var(--light-color) 1px solid;
    border-left: var(--light-color) 1px solid;
    border-right: var(--light-color) 1px solid;
}
.right{
    width: 18%;
    border-bottom: var(--light-color) 1px solid;
    /* border-left: var(--light-color) 1px solid; */
}
b{
    font-family: "Montserat";
    font-weight: 300;
    color: var(--light-color);
    font-size: var(--size-64);
}
.heading{
    color: var(--light-color);
    font-size: var(--size-64);

    margin-bottom: var(--padding-60);
}

.descriptoin{
    font-family: "Azonix";
    font-weight: normal;
    color: var(--light-color);
    font-size: var(--size-12);
    opacity: 30%;
    letter-spacing: 2px;
}


/* DO------------------------------ */
.do{
    display: flex;
}
.do-left{
    padding: var(--padding-60) var(--padding-60) var(--padding-10) var(--padding-10);
    text-align: right;
}
.do-left-heading{
    margin-bottom: 360px !important;
}
.do-left-description{
    text-align: left;
}
.do-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-left: 60px;
}
.do-callouts{
    text-transform: uppercase;
}


/* SERVICES------------------------ */
.services{
    /* height: 1120px; */

    display: flex;
}
.services-left{
    padding: var(--padding-60);
}

.serv-item{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.serv-item:not(:last-child){
    margin-bottom: 50px;
}
.serv-img{
    width: 500px;
    height: 260px;

    background-color: aqua;
}

.services-right{
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;

    padding-bottom: var(--padding-10);
}



/* WORK---------------------------- */
.work{
    display: flex;
}
.work-left{
    padding: var(--padding-60) var(--padding-60) var(--padding-10) var(--padding-60);
}
.work-left-heading{
    text-align: right;
}
.work-list{
    display: flex;
    justify-content: space-between;

    margin:  0 0 var(--padding-60) 0;
}
.work-list-item{
    width: 250px;
    height: 250px;

    background-color: aqua;
}
.work-right-descriptoin{
    text-align: center;
}




/* ABOUT---------------------------- */
.about{
    display: flex;
}
.about-left{
    padding: var(--padding-60);
}
.about-list{
    display: flex;
    justify-content: space-between;
}
.about-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
}

.about-list-item__img{
    width: 100%;
    height: 300px;
}
.timur, 
.daniil,
.kitukha{
    background-image: url('../img/timur.png');
}
.about-list-item__name{
    font-family: "Azonix";
    font-weight: normal;
    color: var(--light-color);
    font-size: var(--size-14);
    margin-top: 20px;
    letter-spacing: 2px;
}
.big{
    font-family: "Azonix";
    font-weight: normal;
    color: var(--light-color);
    font-size: var(--size-24);
    letter-spacing: 2px;
}
.about-description{
    margin-top: 100px;
}




/* PRICE----------------------------- */
.price{
    display: flex;
}
.price-left{
    padding: var(--padding-60);
}
table{
    width: 100%;

    margin-bottom: 60px;
}
td{
    padding-bottom: 30px;
}



/* CONTACTS--------------------------- */
.contacts{
    display: flex;
}
.contacts-left{
    padding: var(--padding-60);
}
.contacts-left-heading{
    text-align: right;
}


/* FORM------------ */
.contacts__form-mainblock{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding-bottom: 60px;
}
.contacts__txt-item-descripion{
    opacity: 30%;
}

.contacts__comment{
    width: 55%;
}
.comment{
    background-color: rgb(0, 0, 0, 0);

    width: 100%;
    height: 100%;
    resize: none;

    padding-left: 15px;
    padding-top: 5px;
}

.contacts__txt{
    width: 40%;
}
.contacts__txt-item:not(:last-child){
    margin-bottom: 20px;
}


.contacts__form-item{
    width: 100%;
    padding-left: 15px;
    padding-bottom: 5px;

    background-color: rgb(0, 0, 0, 0);
    border: none;
    border-bottom: var(--light-color) 1px solid;
}
.contacts__form-item:focus{
    outline: none;
}
.contacts__form-item:not(:last-child){
    margin-bottom: 40px;
}
.btn{
    padding: 10px;
    border: var(--light-color) 1px solid;
}



.contacts-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}
.contacts-right-item{
    margin-bottom: 10px;
}