/* fonts-------------------------------------------------------------------------- */
@font-face {
    font-family: "Azonix";
    src: url("../static/fonts/Azonix.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }
@font-face {
    font-family: "Montserat";
    src: url("../static/fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    }
@font-face {
    font-family: "Montserat";
    src: url("../static/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
    }


/* variables----------------------------------------------------------------------- */
:root{
    --light-color: #D4D4D4;
    --size-14: 14px;
    --size-20: 20px;
    --size-24: 24px;
    --size-64: 64px;

    --padding-75: 75px;
    --padding-60: 60px;
    --padding-10: 5px;
}

/* GENERAL-------------------------------------------------------------------------- */
*{
    box-sizing: border-box;

    font-family: "Montserat";
    font-weight: 100;
    color: var(--light-color);
    font-size: var(--size-24);

    padding: 0;
    margin: 0;
    list-style: none;
}

.display {
    background-image: url('../static/black-background.gif');
}

.container{
    max-width: 1920px;
    margin: auto;

    display: flex;
}



/* LEFT-MENU--------------------------- */
    .left-menu{
        width: 15%;
    }
    .left-menu-fixed{
        width: 15%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;

        text-transform: uppercase;

        position: fixed;
    }


    .logo{
        margin-bottom: 40px;
        width: 10vw;
    }
    .logo-img{
        width: 100%;
    }


    .menu{
        margin-bottom: 40px;
    }
    .menu-item{
        margin-bottom: 15px;
    }


    .clicker{
        display: flex;
    }
    .teme-block{
        height: 45px;
        min-width: 85px;
        border-radius: 50px;
        background-color: var(--light-color);

        margin-left: 10px;
    }
    .teme-circle{
        height: 40px;
        width: 40px;
        border-radius: 40px;
        background-color: black;
    }




/* INFORMATION---------------------------- */
    .information{
        width: 85%;
    }
    .left{
        width: 82%;
        border-bottom: var(--light-color) 1px solid;
        border-left: var(--light-color) 1px solid;
        border-right: var(--light-color) 1px solid;
    }
    .right{
        width: 18%;
        border-bottom: var(--light-color) 1px solid;
        /* border-left: var(--light-color) 1px solid; */
    }
    b{
        font-family: "Montserat";
        font-weight: 300;
        color: var(--light-color);
        font-size: var(--size-64);
    }
    .heading{
        color: var(--light-color);
        font-size: var(--size-64);
    }

    .descriptoin{
        font-family: "Azonix";
        font-weight: normal;
        color: var(--light-color);
        font-size: var(--size-14);
        opacity: 30%;
    }

/* DO--------------------- */
    .do{
        height: 500px;

        display: flex;
    }
    .do-left{
        padding: var(--padding-60) var(--padding-60) var(--padding-10) var(--padding-10);
        text-align: right;
    }
    .do-left-heading{
        margin-bottom: 180px;
    }
    .do-left-description{
        text-align: left;
    }

    .do-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding-left: 60px;
    }
    .do-callouts{
        text-transform: uppercase;
    }


/* SERVICES--------------------- */
    .services{
        height: 1120px;

        display: flex;
    }
    .services-left{
        padding: var(--padding-60);
    }

    /* .services-list{} */
    .serv-item{
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 50px;
    }
    .serv-img{
        width: 500px;
        height: 260px;

        background-color: rgb(173, 18, 235);
    }

    .services-right{
        display: flex;
        align-items: flex-end;
        text-align: center;
        justify-content: center;

        padding-bottom: var(--padding-10);
    }



/* WORK------------------------- */
.work{
    height: 525px;

    display: flex;
}
.work-left{
    padding: var(--padding-60);
}
.work-left-heading{
    text-align: right;
}
.work-list{
    display: flex;
    justify-content: space-between;

    margin: var(--padding-60) 0;
}
.work-list-item{
    width: 250px;
    height: 250px;

    background-color: aqua;
}
.work-right-descriptoin{
    text-align: center;
}




/* CONTACTS--------------------- */
    .contacts{
        height: 1220px;

        display: flex;
    }
    .fcontacts-form-txt{
        padding: var(--padding-60) var(--padding-60) var(--padding-60) var(--padding-60);
    }




/* ABOUT------------------------ */
    .about{
        height: 780px;

        display: flex;
    }
    .about-left{
        padding: var(--padding-60);
    }
    .about-list{
        display: flex;
        justify-content: space-between;

        margin: var(--padding-60) 0;
    }
    .about-list-item{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 300px;

        /* background-color: aqua; */
    }

    .about-list-item__img{
        width: 100%;
        height: 300px;
    }
    .timur,
    .daniil,
    .kitukha{
        background-image: url('../img/timur.png');
    }
    .about-list-item__name{
        font-family: "Azonix";
        font-weight: normal;
        color: var(--light-color);
        font-size: var(--size-20);
        margin-top: 20px;
        /* opacity: 30%;  */
    }
    .about-description{
        margin-top: 100px;
    }




/* PRICE------------------------ */
.price{
    display: flex;
}
.price-left{
    padding: var(--padding-60);
}
table{
    width: 100%;

    margin-top: 60px;
    margin-bottom: 60px;
}
td{
    padding-bottom: 30px;
}



/* CONTACTS------------------------ */
.contacts{
    display: flex;

    height: 1000px;
}
.contacts-left{
    padding: var(--padding-60);
}
.contacts-left-heading{
    text-align: right;
}

.contacts__form-txt{
    display: flex;
    justify-content: space-between;
}
.contacts__form{
    width: 40%;
}
.contacts__txt{
    width: 50%;
}










    .comment{
        outline: none;
        background-color: rgb(255, 240, 223, 0);

        width: 100%;
        resize: none;
    }